.window.microsoft
   .header
      .title 
         .icon #[i.material-icons get_app]
         .text Radeon Software Crimson Install
      .buttons
         .btn.minus 
            i.material-icons remove
         .btn.expand 
            i.material-icons crop_square
         .btn.close 
            i.material-icons close
   .form
      .top
         .icon
            .amd
               .amd-border
                  .amd-top
                  .amd-bottom
         .loader
            .text Extract: opengl32sw.dll... 35%
            .bar
      .middle
         .display
            .line Extract Qt5WinExtras.dll... 100%
            .line Extract RadeonInstaller.exe... 100%
            .line Extract Setup.exe... 100%
            .line Extract libEGL.dll... 100%
            .line Extract mfc120u.dll... 100%
            .line Extract atdcm64a.exe... 100%
            .line Extract Qt5WinExtras.dll... 100%
            .line Extract RadeonInstaller.exe... 100%
            .line Extract Setup.exe... 100%
            .line Extract libEGL.dll... 100%
            .line Extract mfc120u.dll... 100%
            .line Extract atdcm64a.exe... 100%
            .line Extract Qt5WinExtras.dll... 100%
            .line Extract RadeonInstaller.exe... 100%
            .line Extract Setup.exe... 100%
            .line Extract libEGL.dll... 100%
            .line Extract mfc120u.dll... 100%
            .line Extract atdcm64a.exe... 100%
      .bottom
         .btn Cancel
         .text Nullsoft Install System v4.0
         .btn Back
         .btn Close